/* NULL CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 2rem 20rem;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.header__title {
  font-size: 3rem;
  margin: 0px 0px 20px 0px;
}

.section__title {
  text-align: center;
  font-size: 2rem;
  padding: 10px 0px 10px 0px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin: 0px 0px 20px 0px;
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px 5px 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin: 0px 0px 10px 0px;
}
.list__text {
  font-size: 1.5rem;
}
.list__btn {
  border: 2px solid green;
  font-size: 1rem;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}
.list__btn:hover {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: green;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.footer__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: 2px solid green;
  font-size: 2rem;
}
.footer__btn {
  background-color: gray;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-size: 2rem;
  padding: 5px 10px 5px 10px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}
.footer__btn:hover {
  background-color: blue;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.light {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url("../images/sun.svg");
  background-size: contain;
}

.dark {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url("../images/dark.svg");
  background-size: contain;
}

#theme {
  cursor: pointer;
}

.theme-dark {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  background-color: rgba(5, 5, 5, 0.775);
  color: white;
}

.white {
  color: white;
}

@media (max-width: 1000px) {
  .container {
    margin: 2rem 5rem;
  }
}
@media (max-width: 450px) {
  .container {
    margin: 2rem 1rem;
  }
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 1rem;
  }
  .footer__input {
    max-width: 100%;
  }
  .footer__btn {
    min-width: 100%;
  }
}